<div class="main">
  <h2>View Team Details</h2>

  <form>
    <div class="form-field-spacer">
      <mat-form-field class="example-full-width">
        <mat-label>Select Team</mat-label>
        <input
          type="text"
          matInput
          placeholder="Name"
          [formControl]="teamFormControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="setRouterParams($event.option.value)"
          [displayWith]="displayFn"
        >
          @for (option of teamFilteredOptions | async; track option) {
            <mat-option [value]="option">
              {{ option.name }} ({{ option.established_year }})
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>

  @if (selectedTeam && selectedTeamDetails && selectedTeamStats.length) {
    <div class="display">
      <mat-card class="team-card">
        <mat-card-header>
          <mat-card-title
            >{{ selectedTeam.name }} ({{
              selectedTeam.established_year
            }})</mat-card-title
          >
          <mat-card-subtitle>
            <strong>Latest League: </strong> {{ selectedTeamDetails.league_name }} ({{
              lastExistingSeason
            }})
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong> Manager: </strong> {{ selectedTeamDetails.first_name }}
            {{ selectedTeamDetails.last_name }} ({{
              calculateAge(selectedTeamDetails.dob)
            }})
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong> Home Stadium: </strong>   {{ selectedTeamDetails.stadium_name }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            <strong>Current Team:</strong> {{ selectedTeamPlayers }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!--      <p><strong>Age:</strong> {{ calculateAge(selectedPlayer.dob) }} ({{ selectedPlayer.dob | date: 'longDate' }})</p>-->
          <!--      <p><strong>Date of Birth:</strong> {{ selectedPlayer.dob | date: 'longDate' }}</p>-->
          <!--      <p><strong>Nationality:</strong> {{ selectedPlayer.nationality }}</p>-->
          <p>
            <strong>Team Value:</strong> ${{
              selectedTeamDetails.total_team_value | number: "1.0-2"
            }}
          </p>
        </mat-card-content>
      </mat-card>

      <div class="stat-chart">
        <div>
          <canvas
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="'line'"
          >
          </canvas>
        </div>
      </div>
    </div>
  }
</div>
