.main {
  padding: 2rem;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 70%;
}

.example-full-width {
  width: 40%;
}

.submit-buttons {
  margin: 1rem;
}

.mat-stepper-horizontal {
  padding: 1rem;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}

.stat-table-div {
  display: flex;
  flex-direction: row;
}

.stat-table {
  place-self: start;
  width: 40%; /* Each table occupies 40% of the parent container */
  margin: 0 5%; /* Add spacing (5% on each side) to center the tables within the container */
  display: flex;
  flex-direction: column;
  justify-items: center; /* Ensure tables align at the top */
}

.table-header {
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0;
}

.table-header > h2 {
  margin: 0;
}

.form-field-spacer {
  display: flex;
  gap: 2rem;
}

.mat-column-goals_scored {
  padding: 10px;
}

mat-table {
  padding: 1rem;
}

.game-card-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.game-card {
  width: 400px;
  padding: 0.5rem;
}
