.player-card {
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display {
  width: 80%;
  margin: auto;
}

.stat-chart {
  max-width: 80vw;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main {
  padding: 2rem;
}
