:host {
  height: 100vh;
  width: 100vw;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-panel-title {
  font-size: 1rem;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

nav > h1 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.2rem;
}

mat-icon {
  transform: scale(1.7);
  margin: 0 !important;
}

.menu-button {
  margin: 1rem 0rem 1rem 1rem;
}

mat-sidenav {
  width: 260px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.mdc-list {
  padding: 0;
}

mat-panel-title {
  font-weight: normal;
}
