<mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="over"
    >
        <mat-nav-list>
          <button class="menu-button" mat-button (click)="sidenav.toggle()">
            <mat-icon aria-hidden="false" fontIcon="menu_open"></mat-icon>
          </button>
            @for (link of links; track link) {
                @if (!link.subItems) {
                    <a
                      (click)="sidenav.toggle()"
                      mat-list-item
                      routerLink="{{link.href}}"
                      [activated]="link.isActive">
                        {{ link.name }}
                    </a>
                } @else {
                    <mat-expansion-panel
                      [expanded]="isSubItemActive(link.subItems)"
                      class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ link.name }}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @for (subItem of link.subItems; track subItem) {
                            <a mat-list-item
                               (click)="sidenav.toggle()"
                               routerLink="{{subItem.href}}"
                               [activated]="router.url === subItem.href"
                               class="nested-item">
                                {{ subItem.name }}
                            </a>
                        }
                    </mat-expansion-panel>
                }
            }
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>

      <nav>
        <button class="menu-button" mat-button (click)="sidenav.toggle()">
          <mat-icon  aria-hidden="false" fontIcon="menu"></mat-icon>
        </button>
        <h1>Football Tracker</h1>
      </nav>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
