@use '@angular/material' as mat;

$teal-palette: mat.define-palette(mat.$teal-palette);
$red-palette: mat.define-palette(mat.$red-palette);


:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

.example-container {
  width: 100%;
  height: 100%;
}

mat-sidenav {
  width: 250px !important;
  min-width: 250px;
  max-width: 250px;
  padding: 16px;
  border-right: 1px solid mat.get-color-from-palette($teal-palette, 100);
  background-color: white;

  ::ng-deep .mat-drawer-inner-container {
    width: 250px;
    overflow-x: hidden;
  }
}

mat-sidenav-content {
  padding: 20px;
  background: mat.get-color-from-palette($teal-palette, 50);
  min-height: 100%;
  overflow-y: auto;
}

mat-nav-list {
  a[mat-list-item] {
    &.active-link {
      background-color: mat.get-color-from-palette($red-palette, 100) !important;
      color: mat.get-color-from-palette($red-palette, 900) !important;
    }

    &:hover:not(.active-link) {
      background-color: mat.get-color-from-palette($teal-palette, 50);
    }
  }
}
