<div class="main">
  <!-- League Table -->
  <div class="league-table-div">
    <div class="league-table-header">
      <h2>{{ selectedLeagueName }} Table</h2>
      <div class="season-picker">
        <mat-form-field class="example-full-width">
          <mat-label>Select Season</mat-label>
          <mat-select
            placeholder="Pick one"
            [(value)]="selectedSeason"
            (selectionChange)="onSeasonChange($event.value)"
          >
            @for (season of seasons; track season) {
              <mat-option [value]="season">{{ season }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <table
      mat-table
      [dataSource]="leagueTable"
      matSort
      (matSortChange)="onSortChange($event)"
      matSortActive="points"
      matSortDisableClear
      matSortDirection="desc"
      class="mat-elevation-z8"
    >
      <!-- Position Column (Not Sortable) -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Team Column (Sortable) -->
      <ng-container matColumnDef="team_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Team</th>
        <td
          mat-cell
          *matCellDef="let row"
          style="cursor: pointer;"
          (click)="navigateToTeamDetails(row)"
        >
          {{ row.team_name }}</td>
      </ng-container>

      <!-- Played Column (Sortable) -->
      <ng-container matColumnDef="matches_played">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Played</th>
        <td mat-cell *matCellDef="let row">{{ row.matches_played }}</td>
      </ng-container>

      <!-- Win Column (Sortable) -->
      <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Win</th>
        <td mat-cell *matCellDef="let row">{{ row.wins }}</td>
      </ng-container>

      <!-- Loss Column (Sortable) -->
      <ng-container matColumnDef="losses">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Loss</th>
        <td mat-cell *matCellDef="let row">{{ row.losses }}</td>
      </ng-container>

      <!-- Draw Column (Sortable) -->
      <ng-container matColumnDef="draws">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Draw</th>
        <td mat-cell *matCellDef="let row">{{ row.draws }}</td>
      </ng-container>

      <!-- Goal Scored Column (Sortable) -->
      <ng-container matColumnDef="goals_scored">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Goal Scored</th>
        <td mat-cell *matCellDef="let row">{{ row.goals_scored }}</td>
      </ng-container>

      <!-- Goal Conceded Column (Sortable) -->
      <ng-container matColumnDef="goals_conceded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Goal Conceded</th>
        <td mat-cell *matCellDef="let row">{{ row.goals_conceded }}</td>
      </ng-container>

      <!-- Goal Difference Column (Sortable) -->
      <ng-container matColumnDef="goal_difference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Goal Difference
        </th>
        <td mat-cell *matCellDef="let row">{{ row.goal_difference }}</td>
      </ng-container>

      <!-- Points Column (Sortable) -->
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
        <td mat-cell *matCellDef="let row">{{ row.points }}</td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="leagueDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: leagueDisplayedColumns"></tr>
    </table>
  </div>

  <!-- Stat Tables -->
  <div class="stat-div">
    <div class="goal-table-div">
      <h2>
        Most Goals Scored
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          fill="green"
        >
          <path
            d="M20.172 6.75h-1.861l-4.566 4.564a1.874 1.874 0 1 1-1.06-1.06l4.565-4.565V3.828a.94.94 0 0 1 .275-.664l1.73-1.73a.249.249 0 0 1 .25-.063c.089.026.155.1.173.191l.46 2.301 2.3.46c.09.018.164.084.19.173a.25.25 0 0 1-.062.249l-1.731 1.73a.937.937 0 0 1-.663.275Z"
          ></path>
          <path
            d="M2.625 12A9.375 9.375 0 0 0 12 21.375 9.375 9.375 0 0 0 21.375 12c0-.898-.126-1.766-.361-2.587A.75.75 0 0 1 22.455 9c.274.954.42 1.96.42 3 0 6.006-4.869 10.875-10.875 10.875S1.125 18.006 1.125 12 5.994 1.125 12 1.125c1.015-.001 2.024.14 3 .419a.75.75 0 1 1-.413 1.442A9.39 9.39 0 0 0 12 2.625 9.375 9.375 0 0 0 2.625 12Z"
          ></path>
          <path
            d="M7.125 12a4.874 4.874 0 1 0 9.717-.569.748.748 0 0 1 1.047-.798c.251.112.42.351.442.625a6.373 6.373 0 0 1-10.836 5.253 6.376 6.376 0 0 1 5.236-10.844.75.75 0 1 1-.17 1.49A4.876 4.876 0 0 0 7.125 12Z"
          ></path>
        </svg>
      </h2>
      <table mat-table [dataSource]="topLeagueGoal" matSort matSortDisableClear>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Player Column -->
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef>Player</th>
          <td
            mat-cell
            *matCellDef="let row"
            style="cursor: pointer;"
            (click)="navigateToPlayerDetails(row)"
          >
            {{ row.first_name }} {{ row.last_name }}
          </td>
        </ng-container>

        <!-- Position Abbreviation Column -->
        <ng-container matColumnDef="position_abb">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let row">{{ row.position_abb }}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team_name">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let row">{{ row.team_name }}</td>
        </ng-container>

        <!-- Total Stat Column -->
        <ng-container matColumnDef="total_stat">
          <th mat-header-cell *matHeaderCellDef>Goals</th>
          <td mat-cell *matCellDef="let row">{{ row.total_stat }}</td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="topStatDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: topStatDisplayColumns"></tr>
      </table>
    </div>
    <div class="yellow-card-table-div">
      <h2>
        Most Yellow Cards
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <g>
            <title>Layer 1</title>
            <path
              transform="rotate(11.0057 15.2916 12.8816)"
              stroke="rgba(0,0,0,0.5)"
              id="svg_3"
              d="m10.57834,5.86486c0,-1.34193 1.0761,-2.46959 2.35665,-2.46959l4.71331,0c1.28056,0 2.35665,1.12767 2.35665,2.46959l0,14.03356c0,1.34193 -1.0761,2.46959 -2.35665,2.46959l-4.71331,0c-1.28056,0 -2.35665,-1.12767 -2.35665,-2.46959l0,-14.03356z"
              opacity="undefined"
              fill="yellow"
            />
            <path
              stroke="rgba(0,0,0,0.5)"
              id="svg_4"
              d="m2.58412,3.47619c0,-1.63014 1.36986,-3 3,-3l6,0c1.63014,0 3,1.36986 3,3l0,17.04762c0,1.63013 -1.36986,3 -3,3l-6,0c-1.63014,0 -3,-1.36987 -3,-3l0,-17.04762z"
              opacity="undefined"
              fill="yellow"
            />
          </g>
        </svg>
      </h2>

      <table
        mat-table
        [dataSource]="topLeagueYellow"
        matSort
        matSortDisableClear
      >
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Player Column -->
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef>Player</th>
          <td
            mat-cell
            *matCellDef="let row"
            style="cursor: pointer;"
            (click)="navigateToPlayerDetails(row)"
          >
            {{ row.first_name }} {{ row.last_name }}
          </td>
        </ng-container>

        <!-- Position Abbreviation Column -->
        <ng-container matColumnDef="position_abb">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let row">{{ row.position_abb }}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team_name">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let row">{{ row.team_name }}</td>
        </ng-container>

        <!-- Total Stat Column -->
        <ng-container matColumnDef="total_stat">
          <th mat-header-cell *matHeaderCellDef>Yellow Cards</th>
          <td mat-cell *matCellDef="let row">{{ row.total_stat }}</td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="topStatDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: topStatDisplayColumns"></tr>
      </table>
    </div>
    <div class="red-card-table-div">
      <h2>
        Most Red Cards
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <g>
            <title>Layer 1</title>
            <path
              transform="rotate(11.0057 15.2916 12.8816)"
              stroke="rgba(0,0,0,0.5)"
              id="svg_3"
              d="m10.57834,5.86486c0,-1.34193 1.0761,-2.46959 2.35665,-2.46959l4.71331,0c1.28056,0 2.35665,1.12767 2.35665,2.46959l0,14.03356c0,1.34193 -1.0761,2.46959 -2.35665,2.46959l-4.71331,0c-1.28056,0 -2.35665,-1.12767 -2.35665,-2.46959l0,-14.03356z"
              opacity="undefined"
              fill="red"
            />
            <path
              stroke="rgba(0,0,0,0.5)"
              id="svg_4"
              d="m2.58412,3.47619c0,-1.63014 1.36986,-3 3,-3l6,0c1.63014,0 3,1.36986 3,3l0,17.04762c0,1.63013 -1.36986,3 -3,3l-6,0c-1.63014,0 -3,-1.36987 -3,-3l0,-17.04762z"
              opacity="undefined"
              fill="red"
            />
          </g>
        </svg>
      </h2>
      <table mat-table [dataSource]="topLeagueRed" matSort matSortDisableClear>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Rank</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Player Column -->
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef>Player</th>
          <td
            mat-cell
            *matCellDef="let row"
            style="cursor: pointer;"
            (click)="navigateToPlayerDetails(row)"
          >
            {{ row.first_name }} {{ row.last_name }}
          </td>
        </ng-container>

        <!-- Position Abbreviation Column -->
        <ng-container matColumnDef="position_abb">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let row">{{ row.position_abb }}</td>
        </ng-container>

        <!-- Team Column -->
        <ng-container matColumnDef="team_name">
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let row">{{ row.team_name }}</td>
        </ng-container>

        <!-- Total Stat Column -->
        <ng-container matColumnDef="total_stat">
          <th mat-header-cell *matHeaderCellDef>Red Cards</th>
          <td mat-cell *matCellDef="let row">{{ row.total_stat }}</td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="topStatDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: topStatDisplayColumns"></tr>
      </table>
    </div>
  </div>
</div>
